body {
    margin: 0;
    background-image: url(img/dollars.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header {
    background-color: #85BB65;
    border-bottom: 3px solid black;
    padding: 10px;
    text-align: center;
}
#title {
    margin: 0 auto;
    padding: 10px;
    color: #1d1d1d;
    background-color: #dedcd8;
    border: 3px solid black;
    border-radius: 100px;
    display: inline-block;
    font-size: 38px;
}

#middle {
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
main article {
    background-color: gray;
    border: 3px solid black;
    border-radius: 4px;
    max-width: 425px;
    max-height: fit-content;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 40px;
}
#scrollUpgrades {
    max-height: 550px;
    overflow-y: auto;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
#counter {
    background-color: #dedcd8;
    font-size: 30px;
    border: 3px solid black;
    border-radius: 4px;
    max-width: 200px;
    width: 100%;
    margin-top: 10px;
    max-width: 250px;
    display: flex;
    justify-content: center;
}
article h2 {
    margin: 0;
}
#dollar {
    font-size: 200px;
    background-color: #85BB65;
    border: 3px solid black;
    border-radius: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 40px;
    margin-top: 20px;
}
#dollar:hover {
    background-color: #95be7b;
}
.upgradeArticle {
    display: flex;
    flex-direction: column;
}
.wealthTitle {
    padding-top: 10px;
    margin: 10px;
}
.upgradeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.upgradeCard {
    background-color: #9dbc89;
    border: 3px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div img {
    width: 140px;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 4px;
}
.upgradeTitle, .upgradeEffect, #jobTitle, #jobEarnings {
    margin: 0 15px;
    background-color: #DDE8D5;
}
.upgradeTitle, #jobTitle {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    Width: 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.upgradeEffect , #jobEarnings{
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 2px;
    Width: 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
#currentClickNum {
    margin: 10px auto;
    background-color: #DDE8D5;
    border: 3px solid black;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    Width: 140px;
    box-sizing: border-box;
}
.upgrades {
    margin: 10px auto;
    background-color: #85BB65;
    border: 3px solid black;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    Width: 140px;
    box-sizing: border-box;
}
.upgrades:hover {
    background-color: #95be7b;
}